/*
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/

section{
    margin: 0 auto;
}

article{
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

img{
    height: 100px;
}

.pv{
    color: firebrick;
}

p{
    font-size: 1.4rem;
    font-weight: normal;
}

article p{
    text-align: left;
}

#historique{
    width: 100%;
}
#historique article{
    max-height: 180px;
    overflow: scroll;
}

/*######################*/
/*## Personnalisation ##*/
/*######################*/

select{
    display: block;
}

.joueur{
    color: cornflowerblue;
}

select #arme{
    background-color: goldenrod;
}

.arme{
    color: goldenrod;
}

select #armure{
    background-color: teal;
}

.armure{
    color: teal;
}

/*
    ██╗███╗   ███╗ █████╗ ██╗███╗   ██╗
   ██╔╝████╗ ████║██╔══██╗██║████╗  ██║
  ██╔╝ ██╔████╔██║███████║██║██╔██╗ ██║
 ██╔╝  ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██╔╝   ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝    ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/