/*
 ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     
██║  ███╗██║     ██║   ██║██████╔╝███████║██║     
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
 ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}


h1, h2, h3{
    margin: 0;
    padding: 10px;
    text-align: center;
}


h1{
    font-size: 9rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 3rem;
}


/*
    ██╗ ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     
   ██╔╝██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     
  ██╔╝ ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     
 ██╔╝  ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     
██╔╝   ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
╚═╝     ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/

h1{
    /*border-bottom: 1px firebrick solid;*/
}

/*
    ██╗██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
   ██╔╝██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
  ██╔╝ ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
 ██╔╝  ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██╔╝   ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝    ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/

/*
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/

#game{
    margin: 0 auto;
}

#blackCurtain{
    position: fixed;
    z-index: 100;
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    background: rgba(0,0,0, 0.7);
    transition: all 1s;
}

/*

    Le style du main est dispersé dans BATTLE.CSS, CHARACTER.CSS, WELCOME.CSS

*/
/*
      ███████╗██╗     ███████╗██╗  ██╗
      ██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗█████╗  ██║     █████╗   ╚███╔╝ 
╚════╝██╔══╝  ██║     ██╔══╝   ██╔██╗ 
      ██║     ███████╗███████╗██╔╝ ██╗
      ╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
*/

.flex{
    display: flex;
}

.flexInline{
    display: inline-flex;
}

.flexRow{
    flex-direction: row;
}

.flexColumn{
    flex-direction: column;
}

.alignItemsStart{
    align-items: flex-start;
}

.alignItemsCenter{
    align-items: center;
}

.alignItemsStretch{
    align-items: stretch;
}

.spaceAround{
    justify-content: space-around;
}

.spaceBetween{
    justify-content: space-between;
}

.flexWrap{
    flex-wrap: wrap;
}

/*
          ██╗███████╗██╗     ███████╗██╗  ██╗
         ██╔╝██╔════╝██║     ██╔════╝╚██╗██╔╝
█████╗  ██╔╝ █████╗  ██║     █████╗   ╚███╔╝ 
╚════╝ ██╔╝  ██╔══╝  ██║     ██╔══╝   ██╔██╗ 
      ██╔╝   ██║     ███████╗███████╗██╔╝ ██╗
      ╚═╝    ╚═╝     ╚══════╝╚══════╝╚═╝  ╚═╝
*/
/*
       ██████╗██╗      █████╗ ███████╗███████╗     █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗
      ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
█████╗██║     ██║     ███████║███████╗███████╗    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║
╚════╝██║     ██║     ██╔══██║╚════██║╚════██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║
      ╚██████╗███████╗██║  ██║███████║███████║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
       ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/

.rouge, .bleu, .raceColor, .classColor, .persoColor, .statPoints{
    text-shadow: 0 0 1px #000000;
}

.rouge{
    color: red;
}

.bleu{
    color: blue;
}

.statPoints{
    color: #80B2FF;
}

.raceColor{
    color: gold;
}

.classColor{
    color: greenyellow;
}

.persoColor{
    color: #DEDEDE;
}

.warning{
    border: 2px solid red;
}

.correct{
    border: 2px solid green;
}

.hideDisplay{
    display: none;
}

.hideUp{
    margin-top: -100%;
}

.hideDown{
    margin-bottom: -100%;
}

.hideLeft{
    margin-left: -100%;
}

.hideRight{
    margin-right: -100%;
}

.invisible{
    opacity: 0;
}

/*
          ██╗ ██████╗██╗      █████╗ ███████╗███████╗     █████╗  ██████╗████████╗██╗ ██████╗ ███╗   ██╗
         ██╔╝██╔════╝██║     ██╔══██╗██╔════╝██╔════╝    ██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
█████╗  ██╔╝ ██║     ██║     ███████║███████╗███████╗    ███████║██║        ██║   ██║██║   ██║██╔██╗ ██║
╚════╝ ██╔╝  ██║     ██║     ██╔══██║╚════██║╚════██║    ██╔══██║██║        ██║   ██║██║   ██║██║╚██╗██║
      ██╔╝   ╚██████╗███████╗██║  ██║███████║███████║    ██║  ██║╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
      ╚═╝     ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/


/*
    ██╗███╗   ███╗ █████╗ ██╗███╗   ██╗
   ██╔╝████╗ ████║██╔══██╗██║████╗  ██║
  ██╔╝ ██╔████╔██║███████║██║██╔██╗ ██║
 ██╔╝  ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██╔╝   ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝    ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/


/*
    ██╗███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
   ██╔╝██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
  ██╔╝ █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
 ██╔╝  ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██╔╝   ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
*/